@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Libre+Baskerville&family=Montserrat:wght@400;500&family=Passions+Conflict&family=Press+Start+2P&family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
}

.body {
  background: url(./img/bg.jpg);
  min-height: 100vh;
  width: 100%;
  background-size: 100vw 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scoreBox {
  position: absolute;
  top: 40px;
  right: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Press Start 2P", cursive;
}

#hiScoreBox {
  position: absolute;
  top: 100px;
  right: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Press Start 2P", cursive;
}

#board {
  background: linear-gradient(rgb(133, 228, 133), rgb(239, 239, 148));
  width: 92vmin;
  height: 92vmin;
  border: 2px solid black;
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
}

.head {
  background-color: lightgrey;
  border: 2px solid rgb(46, 46, 46);
  border-radius: 40%;
  transform: scale(1.05);
}

.snake {
  background-color: pink;
  border: 2px solid purple;
  border-radius: 50%;
}

.food {
  background-color: lightgreen;
  border: 2px solid darkolivegreen;
  border-radius: 50%;
}
